/* Removed HTML5 Boilerplate CSS since this is using Twitter/Bootstrap */
body {
  margin-top: 40px;
  background-color: #000000;
}
#main.container {
  padding: 8px;
  background-color: #000000;
}
img {
	border: 0;
	padding: 14px;
}
#detail h3,h4{
	color: #FFFFFF;
}
#splash img{
	height: 600px;
}
footer p {
	color: #FFFFFF;
	padding-left: 30px;
}
#fb {
	height: 30px;
	padding: 0 10px;
}
h3 {
    padding: 6px 0;
    margin-top: 16px;
}
